composer.phar
/vendor/

# dotenv environment variables file
.env
.env.backup

# parcel-bundler cache (https://parceljs.org/)
.cache

# IDE
.idea

# certificates and keys directories and files
.certs
certs
*.pem
*.crt
*.key
*.csr

