[submodule "account"]
	path = account
	url = https://github.com/haniot/account.git
	branch = develop
	ignore = dirty
[submodule "mhealth"]
	path = mhealth
	url = https://github.com/haniot/mhealth.git
    branch = develop
    ignore = dirty
[submodule "ehr"]
	path = ehr
	url = https://github.com/haniot/ehr.git
	branch = develop
	ignore = dirty
[submodule "analytics"]
	path = analytics
	url = https://github.com/haniot/analytics.git
	branch = develop
	ignore = dirty
[submodule "api-gateway"]
	path = api-gateway
	url = https://github.com/haniot/api-gateway.git
	branch = develop
	ignore = dirty
[submodule "notification"]
	path = notification
	url = https://github.com/haniot/notification.git
	branch = develop
	ignore = dirty
[submodule "dashboard-app"]
	path = dashboard-app
	url = https://github.com/haniot/dashboard-app.git
	branch = develop
	ignore = dirty
